{% extends "base.html" %} {% block content %}
<h1>This is home</h1>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-3 boxstyles">
        <h3>To Do</h3>
        <ul>
            <li>To Do 1</li>
            <li>To Do 2</li>
            <li>To Do 3</li>
        </ul>
    </div>
    <div class="col-md-3 boxstyles">
        <h3>Doing</h3>
        <ul>
            <li>Doing 1</li>
            <li>Doing 2</li>
            <li>Doing 3</li>
        </ul>
    </div>
    <div class="col-md-3 boxstyles">
        <h3>Done</h3>
        <ul>
            <li>Done 1</li>
        </ul>
    </div>
</div>
    </div>
{% endblock content %}